<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>vue - v-for</title>
	<script type="text/javascript" src="./vue.js"></script>
</head>
<body>
<div id="app">
<ul class="demo">
	<li v-for="n in even(numbers)">{{n}}</li>
</ul>

  <!-- v-for 也可以取整数。在这种情况下，它将重复多次模板。 -->
  <span v-for="num in 50">{{ num }} </span>
</div>

<script type="text/javascript">
	new Vue({
		el: "#app",
		data: {
			numbers: [1,2,3,4,5,6,7,8,9]
		},
		methods: {   //方法
			even: function(numbers) {
                return numbers.filter(function(number){
                	return number % 3 === 0
                })
			}
		}
	})
</script>
</body>
</html>