<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>vue - 全局组件</title>
	<script type="text/javascript" src="./vue.js"></script>
</head>
<body>
<div id="todo-list-example">
	<form v-on:submit.prevent="addNewTodo">
		<label for="new-todo">Add a todo</label>
		<input v-model="newTodoText" id="new-todo" placeholder="todo list">
		<button>Add Todo</button>
	</form>
	<ul>
		<li is="todo-item" 
		    v-for="(todo,index) in todos" 
		    v-bind:key="todo.id" 
		    v-bind:title="todo.title" 
		    v-on:remove="todos.splice(index, 1)">
		    
		</li>
	</ul>
</div>

<script type="text/javascript">
	//定义全局组件
	Vue.component('todo-item', {
       template: '\
		    <li>\
		      {{ title }}\
		      <button v-on:click="$emit(\'remove\')">Remove</button>\
		    </li>\
		  ',
         props: ['title']
	})

	new Vue({
		el: '#todo-list-example',
		data: {
			newTodoText: '',
			todos: [
               {id: 1, title: '不思量'},
               {id: 2, title: '自难忘'},
               {id: 3, title: '千里孤坟'},
               {id: 4, title: '无处话凄凉'}
			],
			nextTodoId: 5
		},
		methods: {  //方法
			addNewTodo: function(){   //添加新的Todo
				this.todos.push({
					id: this.nextTodoId++,
					title: this.newTodoText
				})
				this.newTodoText = ''   //添加之后清空文本框
			}
		}
	})
</script>
</body>
</html>