<!DOCTYPE html>
<html>
<head>
	<title>Vue入门</title>
	<script type="text/javascript" src="./vue.js"></script>
</head>
<body>
<div id="app">
	<input type="text" name="name" v-model="inputValue" />
	<button v-on:click="handleBtnClick">提交</button>
    <ul>
    	<!-- <li v-for="item in list">{{item}}</li> -->
        <todo-item v-bind:content="item"     
                   v-for="item in list">
        </todo-item>
    </ul>
</div>

<script type="text/javascript">
    //创建全局组件
    /*Vue.component("TodoItem", {
        props: ['content'],  //属性值
        template: "<li>{{content}}</li>"  //模板
    })*/

    //创建局部组件
    var TodoItem = {
        props: ['content'],
        template: "<li>{{content}}</li>"
    }

	/*创建vue实例*/
	var app = new Vue({
		el: "#app",   /*el 绑定dom*/
        components: {TodoItem: TodoItem},  //注册局部组件
        data: {        /*数据绑定*/
        	list: [],
        	inputValue: ''
        },
        methods: {
        	handleBtnClick: function(){
        		this.list.push(this.inputValue)   //向list中添加元素
        		this.inputValue = ''  //清空
        	}
        }
	})
</script>
</body>
</html>